{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Reader</title>
    <link rel="stylesheet" href="{% static 'news/css/site.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js"></script>
    <script src="{% static 'news/js/page.js' %}" defer></script>
</head>
<body>
    <h1>News Reading List</h1>
    <ul id="newsList">
        {% for news_item in news_items %}
            <li id="news-item-{{ news_item.id }}">
                <a href="{{ news_item.url }}" target="_blank">{{ news_item.title }}</a>
                <button class="delete-button" data-id="{{ news_item.id }}">Delete</button>
            </li>
        {% endfor %}
    </ul>

    <script src="{% static 'news/js/page.js' %}" defer></script>
</body>
</html>
